In [93]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [94]:
import ibm_db as ibm_db

In [95]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_uid = "syv80339"        # e.g. "abc12345"
dsn_pwd = "WEboiAwjZgYf4cPi"     # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "31249"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [96]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud;PORT=31249;PROTOCOL=TCPIP;UID=syv80339;PWD=WEboiAwjZgYf4cPi;SECURITY=SSL;

In [97]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  syv80339 on host:  b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud

In [98]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0800
DB_NAME:    BLUDB

In [99]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.05.0800
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [100]:
# To close database Connection
# ibm_db.close(conn)

In [101]:
# #Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table IBM_DATABASE"

# #Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [102]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement

createQuery = "create table IBM_DATABASE(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement

createStmt = ibm_db.exec_immediate(conn,createQuery)

In [103]:
#Construct the query - replace ... with the insert statement
insertQuery = "insert into IBM_DATABASE values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [104]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = "insert into IBM_DATABASE values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

#execute the statement

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [105]:
insertQuery3 = "insert into IBM_DATABASE values (4, 'Darpan', 'Narayan Chaudhary', 'Kathmandu Nepal', 'NP'), (5, 'Test', 'IBM', 'UNITED STATES', 'US'), (6, 'Hello', 'IBM', 'UNITED STATES', 'US')"

insertStmt3 = ibm_db.exec_immediate(conn, insertQuery3)

In [106]:
insertQuery4 = "insert into IBM_DATABASE values (7, 'Sashank', 'Chaudhary', 'Nepal', 'NP'), (8, 'Rahul', 'Test', 'UNITED KINGDOM', 'UK'), (9, 'Database', 'IBM', 'America', 'US')"

insertStmt4 = ibm_db.exec_immediate(conn, insertQuery4)

In [107]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from IBM_DATABASE"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [108]:
#Fetch the rest of the rows and print the ID and FNAME for those rows

while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima
 ID: 4  FNAME: Darpan
 ID: 5  FNAME: Test
 ID: 6  FNAME: Hello
 ID: 7  FNAME: Sashank
 ID: 8  FNAME: Rahul
 ID: 9  FNAME: Database

In [109]:
#Enter your code below
updateQuery = "update IBM_DATABASE set CITY='KTM' where FNAME='Sahank'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [110]:
import pandas as pd
import ibm_db_dbi as ibm_dbi

In [111]:
#connection for pandas
pconn = ibm_dbi.Connection(conn)

In [112]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from IBM_DATABASE"

#retrieve the query results into a pandas dataframe
pdf = pd.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

C:\Users\clove\AppData\Local\Temp\ipykernel_18040\2510220574.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pdf = pd.read_sql(selectQuery, pconn)

'Ahuja'

In [113]:
#print the entire data frame
pdf

   ID     FNAME              LNAME             CITY CCODE
0   1       Rav              Ahuja          TORONTO    CA
1   2      Raul              Chong          Markham    CA
2   3      Hima          Vasudevan          Chicago    US
3   4    Darpan  Narayan Chaudhary  Kathmandu Nepal    NP
4   5      Test                IBM    UNITED STATES    US
5   6     Hello                IBM    UNITED STATES    US
6   7   Sashank          Chaudhary            Nepal    NP
7   8     Rahul               Test   UNITED KINGDOM    UK
8   9  Database                IBM          America    US

In [114]:
pdf.shape

(9, 5)

In [115]:
#ibm_db.close(conn)